/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.blockcode-settings__wrapper{
	background:#f2f2f2;
	padding:1rem;
	border:1px solid #dbdbdb;
	display:flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.blockcode-settings__wrapper > * {
	flex-basis: 40%;
	flex-grow: 1;
} 

.cm-editor{
	padding-top:1em;
	padding-bottom:1em;
}

.cm-content,
.cm-gutters{
	font-family: Menlo, Monaco, Lucida Console, monospace !important;
	line-height: 1.5 !important;
}

.cm-gutters .cm-lineNumbers{border-right:1px solid;width:3rem;padding-right:9px}
